data
*.asv
docs/.idea/
SCOPE_v*/output/
SCOPE_v*/~$input_data*.xlsx
SCOPE_v*/input_data*.xlsx
SCOPE_v*/src/*.asv
SCOPE_v*/src/+my
SCOPE_v*/src/not_used
SCOPE_v*/src/exercise*
SCOPE_v*/exercise*
SCOPE_v1.73/
data/
output/
input/dataset alsebl_control2014/alsebl_control2014.csv
input/dataset alsebl_drought2015/alsebl_drought2015.csv
input/dataset alsebl_dry2014/alsebl_dry2014.csv
input/dataset annopu_control2014/annopu_control2014.csv
input/dataset annopu_drought2015/annopu_drought2015.csv
input/dataset annopu_dry2014/annopu_dry2014.csv
input/dataset aspicr_control2014/aspicr_control2014.csv
input/dataset aspicr_drought2015/aspicr_drought2015.csv
input/dataset aspicr_dry2014/aspicr_dry2014.csv
input/dataset cecrin_control2014/cecrin_control2014.csv
input/dataset cecrin_drought2015/cecrin_drought2015.csv
input/dataset cecrin_dry2014/cecrin_dry2014.csv
input/dataset crotbi_control2014/crotbi_control2014.csv
input/dataset crotbi_drought2015/crotbi_drought2015.csv
input/dataset crotbi_dry2014/crotbi_dry2014.csv
input/dataset faraoc_control2014/faraoc_control2014.csv
input/dataset faraoc_drought2015/faraoc_drought2015.csv
input/dataset faraoc_dry2014/faraoc_dry2014.csv
input/dataset guargu_control2014/guargu_control2014.csv
input/dataset guargu_drought2015/guargu_drought2015.csv
input/dataset guargu_dry2014/guargu_dry2014.csv
input/dataset hirttr_control2014/hirttr_control2014.csv
input/dataset hirttr_drought2015/hirttr_drought2015.csv
input/dataset hirttr_dry2014/hirttr_dry2014.csv
input/dataset huracr_control2014/huracr_control2014.csv
input/dataset huracr_drought2015/huracr_drought2015.csv
input/dataset huracr_dry2014/huracr_dry2014.csv
input/dataset luehse_control2014/luehse_control2014.csv
input/dataset luehse_drought2015/luehse_drought2015.csv
input/dataset luehse_dry2014/luehse_dry2014.csv
input/dataset persam_control2014/persam_control2014.csv
input/dataset persam_drought2015/persam_drought2015.csv
input/dataset persam_dry2014/persam_dry2014.csv
input/dataset protte_control2014/protte_control2014.csv
input/dataset protte_drought2015/protte_drought2015.csv
input/dataset protte_dry2014/protte_dry2014.csv
input/dataset pse1se_control2014/pse1se_control2014.csv
input/dataset pse1se_drought2015/pse1se_drought2015.csv
input/dataset pse1se_dry2014/pse1se_dry2014.csv
input/dataset sponmo_control2014/sponmo_control2014.csv
input/dataset sponmo_drought2015/sponmo_drought2015.csv
input/dataset sponmo_dry2014/sponmo_dry2014.csv
input/dataset tabear_control2014/tabear_control2014.csv
input/dataset tabear_drought2015/tabear_drought2015.csv
input/dataset tabear_dry2014/tabear_dry2014.csv
input/dataset trictu_control2014/trictu_control2014.csv
input/dataset trictu_drought2015/trictu_drought2015.csv
input/dataset trictu_dry2014/trictu_dry2014.csv
input/dataset virose_control2014/virose_control2014.csv
input/dataset virose_drought2015/virose_drought2015.csv
input/dataset virose_dry2014/virose_dry2014.csv
.DS_Store
input/dataset alchco_control2014/alchco_control2014.csv
input/dataset alchco_drought2015/alchco_drought2015.csv
input/dataset alchco_dry2014/alchco_dry2014.csv
input/dataset anacex_control2014/anacex_control2014.csv
input/dataset anacex_drought2015/anacex_drought2015.csv
input/dataset anacex_dry2014/anacex_dry2014.csv
input/dataset beilto_control2014/beilto_control2014.csv
input/dataset beilto_drought2015/beilto_drought2015.csv
input/dataset beilto_dry2014/beilto_dry2014.csv
input/dataset beisto_control2014/beisto_control2014.csv
input/dataset beisto_drought2015/beisto_drought2015.csv
input/dataset beisto_dry2014/beisto_dry2014.csv
input/dataset chryar_control2014/chryar_control2014.csv
input/dataset chryar_drought2015/chryar_drought2015.csv
input/dataset chryar_dry2014/chryar_dry2014.csv
input/dataset cosmgr_control2014/cosmgr_control2014.csv
input/dataset cosmgr_drought2015/cosmgr_drought2015.csv
input/dataset cosmgr_dry2014/cosmgr_dry2014.csv
input/dataset diptol_control2014/diptol_control2014.csv
input/dataset diptol_drought2015/diptol_drought2015.csv
input/dataset diptol_dry2014/diptol_dry2014.csv
input/dataset guatdu_control2014/guatdu_control2014.csv
input/dataset guatdu_drought2015/guatdu_drought2015.csv
input/dataset guatdu_dry2014/guatdu_dry2014.csv
input/dataset schipa_control2014/schipa_control2014.csv
input/dataset schipa_drought2015/schipa_drought2015.csv
input/dataset schipa_dry2014/schipa_dry2014.csv
input/dataset sponra_control2014/sponra_control2014.csv
input/dataset sponra_drought2015/sponra_drought2015.csv
input/dataset sponra_dry2014/sponra_dry2014.csv
input/dataset sterap_control2014/sterap_control2014.csv
input/dataset sterap_drought2015/sterap_drought2015.csv
input/dataset sterap_dry2014/sterap_dry2014.csv
input/dataset alsebl_control2014_entire_ws/alsebl_control2014_entire_ws.csv
input/dataset alsebl_drought2015_20days/alsebl_drought2015_20days.csv
input/dataset alsebl_dry2014_entire_ds/alsebl_dry2014_entire_ds.csv
input/dataset annopu_control2014_entire_ws/annopu_control2014_entire_ws.csv
input/dataset annopu_drought2015_20days/annopu_drought2015_20days.csv
input/dataset annopu_dry2014_entire_ds/annopu_dry2014_entire_ds.csv
input/dataset aspicr_control2014_entire_ws/aspicr_control2014_entire_ws.csv
input/dataset aspicr_drought2015_20days/aspicr_drought2015_20days.csv
input/dataset aspicr_dry2014_entire_ds/aspicr_dry2014_entire_ds.csv
input/dataset cecrin_control2014_entire_ws/cecrin_control2014_entire_ws.csv
input/dataset cecrin_drought2015_20days/cecrin_drought2015_20days.csv
input/dataset cecrin_dry2014_entire_ds/cecrin_dry2014_entire_ds.csv
input/dataset crotbi_control2014_entire_ws/crotbi_control2014_entire_ws.csv
input/dataset crotbi_drought2015_20days/crotbi_drought2015_20days.csv
input/dataset crotbi_dry2014_entire_ds/crotbi_dry2014_entire_ds.csv
input/dataset faraoc_control2014_entire_ws/faraoc_control2014_entire_ws.csv
input/dataset faraoc_drought2015_20days/faraoc_drought2015_20days.csv
input/dataset faraoc_dry2014_entire_ds/faraoc_dry2014_entire_ds.csv
input/dataset guargu_control2014_entire_ws/guargu_control2014_entire_ws.csv
input/dataset guargu_drought2015_20days/guargu_drought2015_20days.csv
input/dataset guargu_dry2014_entire_ds/guargu_dry2014_entire_ds.csv
input/dataset hirttr_control2014_entire_ws/hirttr_control2014_entire_ws.csv
input/dataset hirttr_drought2015_20days/hirttr_drought2015_20days.csv
input/dataset hirttr_dry2014_entire_ds/hirttr_dry2014_entire_ds.csv
input/dataset huracr_control2014_entire_ws/huracr_control2014_entire_ws.csv
input/dataset huracr_drought2015_20days/huracr_drought2015_20days.csv
input/dataset huracr_dry2014_entire_ds/huracr_dry2014_entire_ds.csv
input/dataset luehse_control2014_entire_ws/luehse_control2014_entire_ws.csv
input/dataset luehse_drought2015_20days/luehse_drought2015_20days.csv
input/dataset luehse_dry2014_entire_ds/luehse_dry2014_entire_ds.csv
input/dataset persam_control2014_entire_ws/persam_control2014_entire_ws.csv
input/dataset persam_drought2015_20days/persam_drought2015_20days.csv
input/dataset persam_dry2014_entire_ds/persam_dry2014_entire_ds.csv
input/dataset protte_control2014_entire_ws/protte_control2014_entire_ws.csv
input/dataset protte_drought2015_20days/protte_drought2015_20days.csv
input/dataset protte_dry2014_entire_ds/protte_dry2014_entire_ds.csv
input/dataset pse1se_control2014_entire_ws/pse1se_control2014_entire_ws.csv
input/dataset pse1se_drought2015_20days/pse1se_drought2015_20days.csv
input/dataset pse1se_dry2014_entire_ds/pse1se_dry2014_entire_ds.csv
input/dataset sponmo_control2014_entire_ws/sponmo_control2014_entire_ws.csv
input/dataset sponmo_drought2015_20days/sponmo_drought2015_20days.csv
input/dataset sponmo_dry2014_entire_ds/sponmo_dry2014_entire_ds.csv
input/dataset tabear_control2014_entire_ws/tabear_control2014_entire_ws.csv
input/dataset tabear_drought2015_20days/tabear_drought2015_20days.csv
input/dataset tabear_dry2014_entire_ds/tabear_dry2014_entire_ds.csv
input/dataset trictu_control2014_entire_ws/trictu_control2014_entire_ws.csv
input/dataset trictu_drought2015_20days/trictu_drought2015_20days.csv
input/dataset trictu_dry2014_entire_ds/trictu_dry2014_entire_ds.csv
input/dataset virose_control2014_entire_ws/virose_control2014_entire_ws.csv
input/dataset virose_drought2015_20days/virose_drought2015_20days.csv
input/dataset virose_dry2014_entire_ds/virose_dry2014_entire_ds.csv
input/dataset cluster_1_control2014_entire_ws/cluster_1_control2014_entire_ws.csv
input/dataset cluster_1_drought2015_20days/cluster_1_drought2015_20days.csv
input/dataset cluster_1_dry2014_entire_ds/cluster_1_dry2014_entire_ds.csv
input/dataset cluster_2_control2014_entire_ws/cluster_2_control2014_entire_ws.csv
input/dataset cluster_2_drought2015_20days/cluster_2_drought2015_20days.csv
input/dataset cluster_2_dry2014_entire_ds/cluster_2_dry2014_entire_ds.csv
input/dataset cluster_3_control2014_entire_ws/cluster_3_control2014_entire_ws.csv
input/dataset cluster_3_drought2015_20days/cluster_3_drought2015_20days.csv
input/dataset cluster_3_dry2014_entire_ds/cluster_3_dry2014_entire_ds.csv
input/dataset sponra_dry2014_entire_ds/sponra_dry2014_entire_ds.csv
input/dataset sponra_drought2015_20days/sponra_drought2015_20days.csv
input/dataset sponra_control2014_entire_ws/sponra_control2014_entire_ws.csv
input/dataset schipa_dry2014_entire_ds/schipa_dry2014_entire_ds.csv
input/dataset schipa_drought2015_20days/schipa_drought2015_20days.csv
input/dataset schipa_control2014_entire_ws/schipa_control2014_entire_ws.csv
input/dataset guatdu_dry2014_entire_ds/guatdu_dry2014_entire_ds.csv
input/dataset guatdu_drought2015_20days/guatdu_drought2015_20days.csv
input/dataset guatdu_control2014_entire_ws/guatdu_control2014_entire_ws.csv
input/dataset diptol_dry2014_entire_ds/diptol_dry2014_entire_ds.csv
input/dataset diptol_drought2015_20days/diptol_drought2015_20days.csv
input/dataset diptol_control2014_entire_ws/diptol_control2014_entire_ws.csv
input/dataset cosmgr_dry2014_entire_ds/cosmgr_dry2014_entire_ds.csv
input/dataset cosmgr_drought2015_20days/cosmgr_drought2015_20days.csv
input/dataset cosmgr_control2014_entire_ws/cosmgr_control2014_entire_ws.csv
input/dataset beisto_dry2014_entire_ds/beisto_dry2014_entire_ds.csv
input/dataset beisto_drought2015_20days/beisto_drought2015_20days.csv
input/dataset beisto_control2014_entire_ws/beisto_control2014_entire_ws.csv
input/dataset beilto_dry2014_entire_ds/beilto_dry2014_entire_ds.csv
input/dataset beilto_drought2015_20days/beilto_drought2015_20days.csv
input/dataset beilto_control2014_entire_ws/beilto_control2014_entire_ws.csv
input/dataset anacex_dry2014_entire_ds/anacex_dry2014_entire_ds.csv
input/dataset anacex_drought2015_20days/anacex_drought2015_20days.csv
input/dataset anacex_control2014_entire_ws/anacex_control2014_entire_ws.csv
input/dataset alchco_dry2014_entire_ds/alchco_dry2014_entire_ds.csv
input/dataset alchco_drought2015_20days/alchco_drought2015_20days.csv
input/dataset alchco_control2014_entire_ws/alchco_control2014_entire_ws.csv
input/dataset mean_dry2014_entire_ds/mean_dry2014_entire_ds.csv
input/dataset mean_drought2015_20days/mean_drought2015_20days.csv
input/dataset mean_control2014_entire_ws/mean_control2014_entire_ws.csv
input/dataset cosmgr_dry2014_entire_ds 2/cosmgr_dry2014_entire_ds.csv
input/dataset VIROSE_WS/VIROSE_WS.csv
input/dataset VIROSE_ENSO/VIROSE_ENSO.csv
input/dataset VIROSE_DS/VIROSE_DS.csv
input/dataset TRICTU_WS/TRICTU_WS.csv
input/dataset TRICTU_ENSO/TRICTU_ENSO.csv
input/dataset TRICTU_DS/TRICTU_DS.csv
input/dataset TABEAR_WS/TABEAR_WS.csv
input/dataset TABEAR_ENSO/TABEAR_ENSO.csv
input/dataset TABEAR_DS/TABEAR_DS.csv
input/dataset STERAP_WS/STERAP_WS.csv
input/dataset STERAP_ENSO/STERAP_ENSO.csv
input/dataset STERAP_DS/STERAP_DS.csv
input/dataset SPONRA_WS/SPONRA_WS.csv
input/dataset SPONRA_ENSO/SPONRA_ENSO.csv
input/dataset SPONRA_DS/SPONRA_DS.csv
input/dataset SPONMO_WS/SPONMO_WS.csv
input/dataset SPONMO_ENSO/SPONMO_ENSO.csv
input/dataset SPONMO_DS/SPONMO_DS.csv
input/dataset SCHIPA_WS/SCHIPA_WS.csv
input/dataset SCHIPA_ENSO/SCHIPA_ENSO.csv
input/dataset SCHIPA_DS/SCHIPA_DS.csv
input/dataset PSE1SE_WS/PSE1SE_WS.csv
input/dataset PSE1SE_ENSO/PSE1SE_ENSO.csv
input/dataset PSE1SE_DS/PSE1SE_DS.csv
input/dataset PROTTE_WS/PROTTE_WS.csv
input/dataset PROTTE_ENSO/PROTTE_ENSO.csv
input/dataset PROTTE_DS/PROTTE_DS.csv
input/dataset PERSAM_WS/PERSAM_WS.csv
input/dataset PERSAM_ENSO/PERSAM_ENSO.csv
input/dataset PERSAM_DS/PERSAM_DS.csv
input/dataset LUEHSE_WS/LUEHSE_WS.csv
input/dataset LUEHSE_ENSO/LUEHSE_ENSO.csv
input/dataset LUEHSE_DS/LUEHSE_DS.csv
input/dataset HURACR_WS/HURACR_WS.csv
input/dataset HURACR_ENSO/HURACR_ENSO.csv
input/dataset HURACR_DS/HURACR_DS.csv
input/dataset HIRTTR_WS/HIRTTR_WS.csv
input/dataset HIRTTR_ENSO/HIRTTR_ENSO.csv
input/dataset HIRTTR_DS/HIRTTR_DS.csv
input/dataset GUATDU_WS/GUATDU_WS.csv
input/dataset GUATDU_ENSO/GUATDU_ENSO.csv
input/dataset GUATDU_DS/GUATDU_DS.csv
input/dataset GUARGU_WS/GUARGU_WS.csv
input/dataset GUARGU_ENSO/GUARGU_ENSO.csv
input/dataset GUARGU_DS/GUARGU_DS.csv
input/dataset FARAOC_WS/FARAOC_WS.csv
input/dataset FARAOC_ENSO/FARAOC_ENSO.csv
input/dataset FARAOC_DS/FARAOC_DS.csv
input/dataset DIPTOL_WS/DIPTOL_WS.csv
input/dataset DIPTOL_ENSO/DIPTOL_ENSO.csv
input/dataset DIPTOL_DS/DIPTOL_DS.csv
input/dataset CROTBI_WS/CROTBI_WS.csv
input/dataset CROTBI_ENSO/CROTBI_ENSO.csv
input/dataset CROTBI_DS/CROTBI_DS.csv
input/dataset COSMGR_WS/COSMGR_WS.csv
input/dataset COSMGR_ENSO/COSMGR_ENSO.csv
input/dataset COSMGR_DS/COSMGR_DS.csv
input/dataset CLUSTER3_WS/CLUSTER3_WS.csv
input/dataset CLUSTER3_ENSO/CLUSTER3_ENSO.csv
input/dataset CLUSTER3_DS/CLUSTER3_DS.csv
input/dataset CLUSTER2_WS/CLUSTER2_WS.csv
input/dataset CLUSTER2_ENSO/CLUSTER2_ENSO.csv
input/dataset CLUSTER2_DS/CLUSTER2_DS.csv
input/dataset CLUSTER1_WS/CLUSTER1_WS.csv
input/dataset CLUSTER1_ENSO/CLUSTER1_ENSO.csv
input/dataset CLUSTER1_DS/CLUSTER1_DS.csv
input/dataset CHRYAR_WS/CHRYAR_WS.csv
input/dataset CHRYAR_ENSO/CHRYAR_ENSO.csv
input/dataset CHRYAR_DS/CHRYAR_DS.csv
input/dataset CECRIN_WS/CECRIN_WS.csv
input/dataset CECRIN_ENSO/CECRIN_ENSO.csv
input/dataset CECRIN_DS/CECRIN_DS.csv
input/dataset BEILTO_WS/BEILTO_WS.csv
input/dataset BEILTO_ENSO/BEILTO_ENSO.csv
input/dataset BEILTO_DS/BEILTO_DS.csv
input/dataset ASPICR_WS/ASPICR_WS.csv
input/dataset ASPICR_ENSO/ASPICR_ENSO.csv
input/dataset ASPICR_DS/ASPICR_DS.csv
input/dataset ANNOPU_WS/ANNOPU_WS.csv
input/dataset ANNOPU_ENSO/ANNOPU_ENSO.csv
input/dataset ANNOPU_DS/ANNOPU_DS.csv
input/dataset ANACEX_WS/ANACEX_WS.csv
input/dataset ANACEX_ENSO/ANACEX_ENSO.csv
input/dataset ANACEX_DS/ANACEX_DS.csv
input/dataset ALSEBL_WS/ALSEBL_WS.csv
input/dataset ALSEBL_ENSO/ALSEBL_ENSO.csv
input/dataset ALSEBL_DS/ALSEBL_DS.csv
input/dataset ALCHCO_WS/ALCHCO_WS.csv
input/dataset ALCHCO_ENSO/ALCHCO_ENSO.csv
input/dataset ALCHCO_DS/ALCHCO_DS.csv
