data
*.asv
docs/.idea/
SCOPE_v*/output/
SCOPE_v*/~$input_data*.xlsx
SCOPE_v*/input_data*.xlsx
SCOPE_v*/src/*.asv
SCOPE_v*/src/+my
SCOPE_v*/src/not_used
SCOPE_v*/src/exercise*
SCOPE_v*/exercise*
SCOPE_v1.73/
data/
output/
input/dataset alsebl_control2014/alsebl_control2014.csv
input/dataset alsebl_drought2015/alsebl_drought2015.csv
input/dataset alsebl_dry2014/alsebl_dry2014.csv
input/dataset annopu_control2014/annopu_control2014.csv
input/dataset annopu_drought2015/annopu_drought2015.csv
input/dataset annopu_dry2014/annopu_dry2014.csv
input/dataset aspicr_control2014/aspicr_control2014.csv
input/dataset aspicr_drought2015/aspicr_drought2015.csv
input/dataset aspicr_dry2014/aspicr_dry2014.csv
input/dataset cecrin_control2014/cecrin_control2014.csv
input/dataset cecrin_drought2015/cecrin_drought2015.csv
input/dataset cecrin_dry2014/cecrin_dry2014.csv
input/dataset crotbi_control2014/crotbi_control2014.csv
input/dataset crotbi_drought2015/crotbi_drought2015.csv
input/dataset crotbi_dry2014/crotbi_dry2014.csv
input/dataset faraoc_control2014/faraoc_control2014.csv
input/dataset faraoc_drought2015/faraoc_drought2015.csv
input/dataset faraoc_dry2014/faraoc_dry2014.csv
input/dataset guargu_control2014/guargu_control2014.csv
input/dataset guargu_drought2015/guargu_drought2015.csv
input/dataset guargu_dry2014/guargu_dry2014.csv
input/dataset hirttr_control2014/hirttr_control2014.csv
input/dataset hirttr_drought2015/hirttr_drought2015.csv
input/dataset hirttr_dry2014/hirttr_dry2014.csv
input/dataset huracr_control2014/huracr_control2014.csv
input/dataset huracr_drought2015/huracr_drought2015.csv
input/dataset huracr_dry2014/huracr_dry2014.csv
input/dataset luehse_control2014/luehse_control2014.csv
input/dataset luehse_drought2015/luehse_drought2015.csv
input/dataset luehse_dry2014/luehse_dry2014.csv
input/dataset persam_control2014/persam_control2014.csv
input/dataset persam_drought2015/persam_drought2015.csv
input/dataset persam_dry2014/persam_dry2014.csv
input/dataset protte_control2014/protte_control2014.csv
input/dataset protte_drought2015/protte_drought2015.csv
input/dataset protte_dry2014/protte_dry2014.csv
input/dataset pse1se_control2014/pse1se_control2014.csv
input/dataset pse1se_drought2015/pse1se_drought2015.csv
input/dataset pse1se_dry2014/pse1se_dry2014.csv
input/dataset sponmo_control2014/sponmo_control2014.csv
input/dataset sponmo_drought2015/sponmo_drought2015.csv
input/dataset sponmo_dry2014/sponmo_dry2014.csv
input/dataset tabear_control2014/tabear_control2014.csv
input/dataset tabear_drought2015/tabear_drought2015.csv
input/dataset tabear_dry2014/tabear_dry2014.csv
input/dataset trictu_control2014/trictu_control2014.csv
input/dataset trictu_drought2015/trictu_drought2015.csv
input/dataset trictu_dry2014/trictu_dry2014.csv
input/dataset virose_control2014/virose_control2014.csv
input/dataset virose_drought2015/virose_drought2015.csv
input/dataset virose_dry2014/virose_dry2014.csv
